/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 16;

/* paragraph indention */
$paragraph-indent           : false; // true, false (default)
$indent-var                 : 1em;

/* system typefaces */
$serif                      : Georgia, "Times New Roman", Times, serif;
$sans-serif                 : -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$monospace                  : "SF Mono", Monaco, Inconsolata, "Roboto Mono", "Source Code Pro", Menlo, Consolas, "Courier New", monospace;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;

/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif;
$caption-font-family        : $serif;

/* improved type scale for better hierarchy */
$type-size-1                : 2.5em;    // ~40px - Main headings
$type-size-2                : 2em;      // ~32px - Section headings
$type-size-3                : 1.5em;    // ~24px - Subsection headings
$type-size-4                : 1.25em;   // ~20px - Small headings
$type-size-5                : 1em;      // ~16px - Body text
$type-size-6                : 0.875em;  // ~14px - Small text
$type-size-7                : 0.75em;   // ~12px - Caption text
$type-size-8                : 0.625em;  // ~10px - Tiny text


/*
   Colors
   ========================================================================== */

$gray                       : #6c757d;
$dark-gray                  : #343a40;
$darker-gray                : #212529;
$light-gray                 : #adb5bd;
$lighter-gray               : #f8f9fa;

$body-color                 : #fff;
$background-color           : #fff;
$code-background-color      : #f8f9fa;
$code-background-color-dark : #e9ecef;
$text-color                 : $darker-gray;
$border-color               : #dee2e6;

$primary-color              : #495057;
$success-color              : #28a745;
$warning-color              : #ffc107;
$danger-color               : #dc3545;
$info-color                 : #007bff;
// Enhanced contrast for better readability

/* brands */
$behance-color              : #1769FF;
$dribbble-color             : #ea4c89;
$facebook-color             : #3b5998;
$flickr-color               : #ff0084;
$foursquare-color           : #0072b1;
$github-color               : #171516;
$google-plus-color          : #dd4b39;
$instagram-color            : #517fa4;
$lastfm-color               : #d51007;
$linkedin-color             : #007bb6;
$pinterest-color            : #cb2027;
$rss-color                  : #fa9b39;
$soundcloud-color           : #ff3300;
$stackoverflow-color        : #fe7a15;
$tumblr-color               : #32506d;
$twitter-color              : #55acee;
$vimeo-color                : #1ab7ea;
$vine-color                 : #00bf8f;
$youtube-color              : #bb0000;
$xing-color                 : #006567;


/* links */
$link-color                 : $info-color;
$link-color-hover           : mix(#000, $link-color, 25%);
$link-color-visited         : mix(#fff, $link-color, 25%);
$masthead-link-color        : $primary-color;
$masthead-link-color-hover  : mix(#000, $primary-color, 25%);


/*
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);

// Enhanced responsive breakpoints for better mobile experience
$small                      : 480px !default;   // Mobile phones
$medium                     : 768px !default;   // Tablets
$medium-wide                : 1024px !default;  // Small laptops
$large                      : 1200px !default;  // Desktop
$x-large                    : 1400px !default;  // Large desktop

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 0px;
$right-sidebar-width        : 0px;
$right-sidebar-width-wide   : 0px;

$susy: (
  columns: 12,
  column-width: 120px,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $large,
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: blue,
  //   output: overlay,
  //   toggle: top right,
  // ),
);


/*
   Other
   ========================================================================== */

$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$navicon-width              : 28px;
$navicon-height             : 4px;
$global-transition          : all 0.2s ease-in-out;
